<h1>Actus</h1>

<table class="table">
 <thead>
   <th>Titre</th>
   <th>Auteur</th>
   <th>Corps</th>
   <th>Date de création</th>
   <th>Date de modification</th>
   <th></th>
 </thead>

<div> 
<!--
<script type="text/javascript">
  var timeout = setTimeout("location.reload(true);",3000); //en ms, i.e. 1000 = 1s
  function resetTimeout() {
    clearTimeout(timeout);
    timeout = setTimeout("location.reload(true);",3000);
  }
</script>
-->
  {{#list actus}}

  <tr>
    <td>
      <a class="btn btn-secondary btn-sm" href="/actus/id/{{id}}" role="button">
      {{title}}
    </td>
    <td>
      {{author}}
    </td>
    <td>
      {{body}}
    </td>
    <td>
      {{createdAt}}
    </td>
    <td>
      {{updatedAt}}
    </td>
    <td>
      <a class="btn btn-outline-primary ary btn-sm" href="/actus/id/{{id}}" role="button">
        Voir
      </a>
      <a class="btn btn-outline-secondary btn-sm" href="/actus/update/{{id}}" role="button">
        Mettre à jour
      </a>
      <a class="btn btn-outline-danger btn-sm" href="/actus/delete/{{id}}" role="button">
        Supprimer
      </a>
    </td>
  </tr>

  {{/list}}
</table>
</div>


<div class="text-center">
  <a class="btn btn-primary" href="/actus/create" role="button">
    Ajouter une actualité
  </a>
</div>